<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>
<% include partials/head %>

  <body style="background-color: rgb(56, 51, 51);">
    <nav class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/custom/logo.png" alt="" width="90" height="29" class="d-inline-block align-text-top">
        </a>
      </div>
    </nav>

    <div class="container-xl">
      <div class="row">
        <h1 style="text-align: center;">TÀI XỈU PHONG CÁCH 12 CON GIÁP</h1>
        <marquee style="font-family: roboto; color: yellow; border: 2px;">
          <% if (tx_globallogs) { %>
            <%= tx_globallogs[0].globalTaixiu %>
              <% } %>
        </marquee>
      </div>
      <div class="row">
        <div style="background-color: gray; border-style: solid;" class="col">

        </div>
        <div style="background-color: gray; border-style: solid;" class="col">
          <p style="font-family: roboto; color: white ">Xin chào, <%= username %>
          </p>
          <p style="font-family: roboto; color: yellow ">Số tiền: <%= dollar %>$</p>

          <form action="/taixiu-checking" method="post" id="taixiuForm">

            
              <label style="color: white; font-family: roboto;" for="cars">Chọn số tiền cược:</label>
              <select
                style="background-color: rgb(139, 0, 46); padding-right: 10px; margin-top: 5px; color: white; font-family: roboto;"
                name="inputCuoc" id="inputCuoc" >
                <option value="100">100$</option>
                <option value="500">500$</option>
                <option value="2000">2.000$</option>
                <option value="5000">5.000$</option>
                <option value="10000">10.000$</option>
                <option value="20000">20.000$</option>
                <option value="50000">50.000$</option>
                <option value="100000">100.000$</option>
              </select>
            

            </br>
            
              <label style="color: white; font-family: roboto;" for="cars">Chọn một cửa:</label>
              <select
                style="background-color: rgb(139, 0, 46);padding-right: 10px; margin-top: 5px; color: white; font-family: roboto;"
                name="inputCua" id="inputCua" >
                <option value="1">Tí</option>
                <option value="2">Sửu</option>
                <option value="3">Dần</option>
                <option value="4">Mão</option>
                <option value="5">Thìn</option>
                <option value="6">Tỵ</option>
                <option value="7">Ngọ</option>
                <option value="8">Mùi</option>
                <option value="9">Thân</option>
                <option value="10">Dậu</option>
                <option value="11">Tuất</option>
                <option value="12">Hợi</option>
              </select>
         

            <button style="float: right;" type="submit">Chơi</button>
          </form>
          <span style="font-family: roboto; color: yellow;">
            <% if (tx_winorlost) { %>
              <%= tx_winorlost %>
                <% } %>
          </span>
          <span style="font-family: roboto; color: rgb(145, 0, 0);">
            <% if (tx_logs) { %>
              <%= tx_logs %>
                <% } %>
          </span>
          <!-- <span id="cua_cookie" style="font-family: roboto; color: rgb(145, 0, 0);">
            <% if (tx_cua) { %>
              <%= tx_cua %>
                <% } %>
          </span>
          <span id="cuoc_cookie" style="font-family: roboto; color: rgb(145, 0, 0);">
            <% if (tx_cuoc) { %>
              <%= tx_cuoc %>
                <% } %>
          </span> -->

        </div>


   
        <div style="background-color: gray; border-style: solid;" class="col">
          <h1 style="font-family: roboto; color: rgb(208, 255, 0);"><b>TOP ĐẠI GIA</b></h1>
          <% for(var i=0; i < top20.length; i++) { %>
            <tr>
              <td>
                <span style="font-family: 'Monofett', cursive; font-size: 25px; color: yellow;">
                  <%= i + 1 %>
                </span>
                <span style="font-family: roboto; color: rgb(204, 204, 204);"><b>
                    <%= top20[i].username%>
                    <span style="color: rgb(238, 238, 238); font-family: roboto;">
                      [lvl: <%= top20[i].level %>]
                    </span>
                  </b>
                </span>
                <span style="color: yellowgreen; font-family: roboto;">
                  <%= top20[i].dollar %>
                </span>
                <br>
              </td>
            </tr>
            <% } %>
        </div>
      </div>
    </div>
    <footer>

    </footer>
    <a href="#" class="tt-back-to-top">BACK TO TOP</a>

  </body>

</html>

<script>
  var inputCuoc = document.getElementById('inputCuoc');
  var inputCua = document.getElementById('inputCua');
  var cuocValue = document.getElementById('cuoc-cookie').value;
  var cuaValue = document.getElementById('cua-cookie').value;
  const form = document.getElementById('taixiuForm');

  form.addEventListener('submit', (e) => {
    let messages = []
    if (inputCuoc.value === '' || inputCuoc.value == null) {
      messages.push('');

    }
    if (inputCua.value === '' || inputCua.value == null) {
      messages.push('');
    }
    if (messages.length > 0) {
      e.preventDefault()
    }
    else {

    }
  });

 
</script>